<h1>Partie admin</h1>

<% if (req.session.isAdmin != true) { %>

<form method="POST" action="/Admin/Login">
  <input type="password" name="password"/>
  <input type="submit" value="Se connecter"/>
</form>

<% } else { %>
  <p>Je suis connecté en tant qu'Admin</p>
<ul>
  <li><a href="/Admin/YearSettings">Paramètres généraux</a></li>
  <li><a href="/Admin/RegisteredCompanies">Entreprises inscrites</a></li>
  <li><a href="/Admin/Sells">Ventes</a></li>
  <li><a href="/Admin/SjdParticipants">Voir entreprises SJD</a></li>
  <li><a href="/Admin/SjdSessions">Sessions SJD</a></li>
  <li><a href="/Admin/ParticipatingStudents">[Vigipirate] Etudiants</a></li>
  <li><a href="/Admin/ParticipatingCompanies">[Vigipirate] Entreprises</a></li>
  <li><a href="/Admin/CheckList">Vérifier les actions à faire (ex: descriptions complétées)</a></li>
</ul>
<% } %>
