<!-- custom assets -->
<link rel="stylesheet" href="/plugins/iCheck/all.css">

<!-- end custom assets -->
<section class="content-header">
    <h1>Gestion d'entreprises</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Entreprises inscrites</a></li>
    </ol>
</section>

<section class="content">
    <%- partial('../templateDatatable/Company.ejs') %>
</section>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.4/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>
<script src="/plugins/iCheck/icheck.min.js"></script>
<script>
        $(document).ready(function() {
            $('#datatable').DataTable( {
                ajax: {
                    'url': "<%= sails.getUrlFor('AdminController.apiCompany') %>",
                    'dataSrc': ''
                },
                columns: [
                    { 'data': "companyName" },
                    { 'data': "type" },
                    { 'data': "createdAt",
                        'render' : function(data, type, full, meta) {
                            return new Date(data).toLocaleDateString();
                        }
                    },
                    { 'data': "blacklist",
                        'render': function(data)    {
                            return data ? 'oui' : '-';
                        }
                    },
                    { 'data': "active",
                        'render': function(data)    {
                            return '<input type="checkbox" class="minimal" ' + (data ? ' checked>' : '>');
                        }
                    },
                    { 'data': "siret",
                        'render': function(data, type, full, meta)  {
                            return '<a class="btn btn-info" href="/Admin/company/' +data+'">Voir plus</a>';
                    }
                    }
                ],
                initComplete: function(settings, json)  {
                    //iCheck for checkbox and radio inputs
                    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                        checkboxClass: 'icheckbox_minimal-blue',
                        radioClass   : 'iradio_minimal-blue'
                    })
                }

            } );
        } );


    </script>
