<h1>Partie admin</h1>

<%
  var inscriptionOpen;
  if (inscriptionsAreOpen)
    inscriptionOpen = 'ouvertes';
  else
    inscriptionOpen = 'fermées';

%>

<% if (req.session.isAdmin != true) { %>

<form method="POST" action="/Admin/Login">
  <input type="password" name="password"/>
  <input type="submit" value="Se connecter"/>
</form>

<% } else { %>

<h2>Paramètre à changer</h2>
<p>Attention, le changement de ces paramètres aura des répercutions sur l'ensemble du site. Faites le uniquement avec l'accord du webmaster.</p>

<h3>Changement pour l'année <%=year%></h3>
<form method="post" action="/Admin/SetPrices">
  <h3>Pour les grandes entreprises</h3>
  <label>Nouveau prix du forum</label> <input type="number" name="forumPrice"/><br />
  <label>Nouveau prix du SJD</label> <input type="number" name="sjdPrice"/><br />
  <label>Nouveau prix d'une session supplémentaire au SJD</label> <input type="number" name="sjdSessionPrice"/><br />
  <label>Nouveau prix du pack premium</label> <input type="number" name="premiumPrice"/><br />

  <h3>Pour les PME</h3>
  <label>Nouveau prix du forum</label> <input type="number" name="forumPricePME"/><br />
  <label>Nouveau prix du SJD</label> <input type="number" name="sjdPricePME"/><br />
  <label>Nouveau prix d'une session supplémentaire au SJD</label> <input type="number" name="sjdSessionPricePME"/><br />
  <label>Nouveau prix du pack premium</label> <input type="number" name="premiumPricePME"/><br />
  <input type="submit" value="Envoyer"/>
</form>

<h3> Ouvrir les inscriptions pour l'année <%=year%></h3>
<form method="post" action="/Admin/setInscriptionOpen">
  <p>Actuellement, les inscriptions sont <b><%=inscriptionOpen%></b>.<br />
    Définir les inscriptions comme :</p>
  <input type="radio" value="1" name="inscriptions"/><label>ouvertes</label><br />
  <input type="radio" value="0" name="inscriptions" checked/><label>fermées</label><br />
  <input type="submit" value="Enregistrer"/>
</form>

<% } %>
