<%
/**
 * views/templateDatatable/Company.ejs
 *
 * Generate html for company datatable
 */%>
<table id="datatable" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Nom</th>
            <!--<th>Logo</th>-->
            <th>Status</th>
            <th>Email de contact</th>
            <th>Détails</th>
            <th title="Inscrire une entreprise qui a déjà participé par le passé">Ré-inscription</th>
            <th title="Une entreprise active peut se connecter à son compte">Active</th>
            <th>Mise à jour</th>
            <th>Date de création</th>
        </tr>
    </thead>
</table>