<%
/**
 * views/templateDatatable/Company.ejs
 *
 * Generate html for company datatable
 */%>
<table id="datatable" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Status</th>
            <th>Date d'inscrition</th>
            <th>Blacklist</th>
            <th>Activated</th>
            <th>Action</th>
        </tr>
    </thead>
</table>