<%
/**
 * views/templateDatatable/Offer.ejs
 *
 * Generate html for company datatable
 */%>
<table id="datatable" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Status</th>
            <th>Filtre</th>
            <th>Action</th>
        </tr>
    </thead>
</table>