<%
/**
 * views/templateDatatable/Student.ejs
 *
 * Generate html for company datatable
 */%>
<table id="datatable" class="table table-bordered table-striped table-hover" style="width: 100%">
    <thead>
        <tr>
            <th>Company</th>
            <th>Personne</th>
        </tr>
    </thead>
</table>