<%
/**
 * views/templateDatatable/Sell.ejs
 *
 * Generate html for company datatable
 */%>
<table id="datatable" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Entreprise</th>
            <th>Année</th>
            <th>Forum</th>
            <th>Forum + SJD</th>
            <th>Forum XXL + SJD</th>
            <th>Repas</th>
            <th>Facture</th>
            <th>Payé</th>
        </tr>
    </thead>
</table>