<%
/**
 * views/templateDatatable/Sell.ejs
 *
 * Generate html for company datatable
 */%>
<table id="datatable" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Année</th>
            <th>Entreprise</th>
            <th>Sessions</th>
            <th>Spécialités</th>
        </tr>
    </thead>
</table>