<%
/**
 * views/templateDatatable/SjdInscriptions.ejs
 *
 * Generate html for company datatable
 */%>
<table id="datatable" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date</th>
            <th>Voeu 1</th>
            <th>Voeu 2</th>
            <th>Voeu 3</th>
            <th>Année</th>
            <th>Spécialité</th>
            <th>Email</th>
        </tr>
    </thead>
</table>