<%
/**
 * views/templateDatatable/Student.ejs
 *
 * Generate html for company datatable
 */%>
<table id="datatable" class="table table-bordered table-striped table-hover" style="width: 100%">
    <thead>
        <tr>
            <th>Login</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Gendre</th>
            <th>Mail</th>
            <th>Année</th>
            <th>CV fr</th>
            <th>CV en</th>
            <th>Site</th>
            <th>Ln</th>
            <th>Vd</th>
            <th>Gh</th>
        </tr>
    </thead>
</table>