<%
/**
 * views/templateDatatable/Workshop.ejs
 *
 * Generate html for company datatable
 */%>
<table id="datatable" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Thème</th>
            <th>ID</th>
            <th>Nom</th>
            <th>Organisateur</th>
            <th>Heure de début</th>
            <th>Heure de fin</th>
            <th>Lieu</th>
            <th>Places max</th>
            <th>Places restantes</th>
            <th>Action</th>
        </tr>
    </thead>
</table>