<%
/**
 * views/templateDatatable/Company.ejs
 *
 * Generate html for company datatable
 */%>
<table id="datatable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Position</th>
            <th>MailAddress</th>
            <th>PhoneNumber</th>
            <th>companyName</th>
            <th>companyGroup</th>
        </tr>
    </thead>
</table>