# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

node_modules
ncp-debug.log
npm-debug.log
.tmp
config/configFIE.js
assets/images/logos/*
files/factures/*
files/fr-cv/*
files/en-cv/*
logs

.idea               # Jetbrains editors
.idea/*
.vscode             # Visual Studio
.idea/
app.log
assets/images/form_choixdecours.pdf
