<div class="content">
    <h1>Conférences</h1>
    <p>
        <b>Nouveauté de l’édition 2018 </b>: les conférences ! Vous voulez en savoir plus sur le métier d’ingénieur, l'entrepreneuriat, le management, le développement durable ? Vous êtes étudiant, enseignant-chercheur, personnel de l’INSA ?  Présentées par des professionnels dans le cadre de l’entreprise, les conférences sont faites pour vous. 
    </p>
    <br/>
        <img class="bw" src="/images/conference.jpg" style="width: 100%"/>
    <br/>
    
    <h3>Organisation</h3>
    <p>
        Les conférences se dérouleront tout au long de la journée de <b>8h à 18h</b> en amphithéâtre VINCI et FOURIER. Chacune d'entre elle durera 1h et sera composée de 45 minutes de présentation et 15 min d’échanges avec l’assistance. Toutes les conférences sont suivies d’une pause collation.
    </p>
    <p>
        Les thèmes des conférences de l’édition 2018 du Forum <i>by</i> INSA sont les suivants :
    </p>
    <ul>
        <li>Le management de la diversité</li>
        <li>Être ingénieur-docteur en entreprise</li>
        <li>L’entreprenariat</li>
        <li>Être ingénieur à l’international</li>
        <li>Être chef de projet</li>
        <li>Ingénierie du développement durable</li>
    </ul>

</div>
