<style> 
    .section {
        border-radius: 4px;
        padding: 16px 32px;
        width: 100%;
        height: auto;
        z-index: -1;
        /*background: linear-gradient(to bottom, #fdfdfd, #fbfbfb);   */
        background-color: #fdfdfd;
        /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
        box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 2px 6px rgba(0,0,0,.075);
                
        -webkit-transition: all 0.4s cubic-bezier(.25,.8,.25,1);
           -moz-transition: all 0.4s cubic-bezier(.25,.8,.25,1);
             -o-transition: all 0.4s cubic-bezier(.25,.8,.25,1);
                transition: all 0.4s cubic-bezier(.25,.8,.25,1);
    }

    .section:hover {
        box-shadow: inset 0 14px 0 rgba(255,255,255,.15),0 8px 10px rgba(0,0,0,.14);
        /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
    }
</style>

<div class="content">
    <h1>Conférences</h1>
    <p>
        <b>Vous êtes étudiant, enseignant-chercheur, personnel  de l’INSA ? Présentées par des professionnels, des ingénieurs expérimentés, des chercheurs, ces conférences sont faites pour vous !</b><br /><br />Fortes de leur succès lors de la précédente édition, les conférences reviennent cette année avec de nouveaux thèmes et des intervenants de qualité.
    </p>
    <p>
        <img class="bw" src="/images/conference.jpg" style="width: 100%"/>
    </p>
    <p>
        Les conférences se déclinent sous plusieurs formes : tables rondes, conférences classiques et témoignages.<br />Animées par des intervenants passionnés, ces conférences ont pour but de vous faire découvrir le monde de l’entreprise sous différents angles.
    </p>
    <br />
    <div class="section">
        <h3>Organisation</h3>
        <p>
            Les conférences se dérouleront tout au long de la journée de <b>9h à 16h30</b> <i class="fa fa-clock-o"></i> en amphithéâtre Vinci <i class="fa fa-map-marker"></i>. Elles dureront entre 45' et 1h15' <i class="fa fa-stopwatch"></i> et seront composées d’un temps de présentation <i class="fa fa-quote-right"></i> et d’un temps de discussion <i class="fa fa-comments"></i> avec l’audience. Toutes les conférences seront suivies d’une pause collation <i class="fa fa-coffee"></i> où vous pourrez discuter avec les intervenants.
        </p>
        <br />
        <p>
            <p>Voici les <b>thèmes de conférences de l’édition 2019</b> du Forum <i>by</i> INSA :</p>
            <table class="table table-hover">
                <tr>
                    <th>9h - 10h15</th>
                    <td><i class="fa fa-briefcase"></i></td>
                    <td>1<sup>er</sup> emploi : réussir son insertion professionnelle ?</td>
                </tr>
                <tr>
                    <th><b>10h30 - 11h15</b></th>
                    <td><i class="fa fa-users"></i></td>
                    <td>Management de la diversité : le management responsable</td>
                </tr>
                <tr>
                    <th><b>11h30 - 12h45</b></th>
                    <td><i class="fa fa-industry"></i></td>
                    <td>Les grandes entreprises sont-elles la clé pour changer l’avenir ?</td>
                </tr>
                <tr>
                    <th><b>13h - 14h</b></th>
                    <td><i class="fa fa-balance-scale"></i></td>
                    <td>Ingénieur dans le privé ? Ingénieur dans le public ? Pour quelles carrières ?</td>
                </tr>
                <tr>
                    <th><b>14h15 - 15h15</b></th>
                    <td><i class="fa fa-globe"></i></td>
                    <td>Oser l’international : pourquoi faire le grand saut ?</td>
                </tr>
                <tr>
                    <th><b>15h30 - 16h30</b></th>
                    <td><i class="fa fa-search"></i></td>
                    <td>La R&D : un domaine aux multiples facettes ?</td>
                </tr>
            </table>
        </p>
    </div>

    <br />
    <div>
        <p>Les conférences de l’édition 2018 :</p>
        <ul>
            <li>La R&D en entreprise : Quelle plus-value d’être ingénieur-docteur ?</li>
            <li>Profils internationaux, au cœur du développement des entreprises</li>
            <li>Ingénierie du développement durable : source d’innovation, de croissance et de durabilité</li>
            <li>Management de la diversité, management responsable : Quel rôle pour l’ingénieur INSA Toulouse dans l’entreprise</li>
            <li>Être chef de projet : l’interface parmi tous les acteurs !</li>
        </ul>
    </div>
</div>
