<div class="content">
    <h1>Conférences</h1>
    <p>
        Nouveauté du Forum 2018, les conférences reviennent pour l'édition 2019 ! Vous voulez en savoir plus sur le métier d’ingénieur, l'entrepreneuriat, le management, le développement durable ? Vous êtes étudiant, enseignant-chercheur, personnel de l’INSA ?  Présentées par des professionnels dans le cadre de l’entreprise, les conférences sont faites pour vous. 
    </p>
    <br/>
        <img class="bw" src="/images/conference.jpg" style="width: 100%"/>
    <br/>
    
    <h3>Organisation</h3>
    <p>
        Les conférences se dérouleront tout au long de la journée de <b>9h à 16h15</b>​ en amphithéâtre Vinci. Chacune d'entre elle durera 1h15 et sera composée d’un temps de présentation et d’un temps de discussion avec l’audience. Toutes les conférences sont suivies d’une pause collation (salle STPI 103).
    </p>
    <p>
        Les thèmes des conférences de l’édition 2018 du Forum <i>by</i> INSA étaient les suivants :
    </p>
    <ul>
        <li><b>9h-10h15</b> - La R&D en entreprise : Quelle plus-value d’être ingénieur-docteur ?</li>
        <li><b>10h30-11h45</b> - Profils internationaux, au cœur du développement des entreprises</li>
        <li><b>12h-13h15</b> - Ingénierie du développement durable : source d’innovation, de croissance et de durabilité</li>
        <li><b>13h30-14h45</b> - Management de la diversité, management responsable : Quel rôle pour l’ingénieur INSA Toulouse dans l’entreprise</li>
        <li><b>15h-16h15</b> - Être chef de projet : l’interface parmi tous les acteurs !</li>
    </ul>

</div>
