<!DOCTYPE html>
<!-- saved from url=(0031)http://foruminsaentreprises.fr/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <style>
    body
    {
      background-color: #3b3b3b;
      width: 100%;
      margin-top: 100px;
    }

    h1
    {
      color: white;
    }

    p
    {
      color:white;
    }

    img
    {
      width: 300px;
      height: auto;
    }

    #all
    {
      margin: auto;
      width: 100%;
      text-align:center;
    }

  </style>
  <title>Forum INSA Entreprises</title>
</head>

<body>
<div id="all">
  <img src="/images/Logo_FIE_blanc.png">
  <div id="text">
    <h1>Site en construction</h1>
    <p>Les inscriptions ouvriront fin mai.<br>
      En attendant vous pouvez réserver votre <strong>mardi 24 octobre 2017</strong>, date du prochain forum :) <br><br>
      contact@foruminsaentreprises.fr
    </p>
  </div>
</div>

</body></html>
