<!DOCTYPE html>
<!-- saved from url=(0031)http://foruminsaentreprises.fr/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="stylesheet" href="/styles/styleConstruction.css">
        <title>Forum INSA Entreprises</title>
    </head>

    <body>
        <div id="all">
            <img src="/images/Logo_FIE_blanc.png">
            <div id="text">
                <h1>Site en construction</h1>
                <p>Les inscriptions ouvriront fin mai.<br>
                    En attendant vous pouvez réserver votre <strong>mardi 18 octobre 2016</strong>, date du prochain forum :) <br><br>
                    contact@foruminsaentreprises.fr
                </p>
            </div>
        </div>

</body></html>
