<!DOCTYPE html>

<h1>Création d'un compte entreprise</h1>
<form enctype="multipart/form-data" method="post" action="/Company/CreateCompany" >

  <h2>Profil Entreprise</h2>
  <p>Ces informations permettront aux étudiants d'avoir plus d'informations sur votre entreprise lorsqu'ils consulteront le catalogue des entreprises sur le site et dans la plaquette du forum.</p>

    <label for="siret">Numéro de siret: </label>
    <input type="text" name="Siret" id="Siret" placeholder="Siret" required/><br>

    <label for="CompanyName">Nom de l'entreprise: </label>
    <input type="text" name="CompanyName" id="CompanyName" placeholder="Nom de l'entreprise" required/><br>

    <label for="CompanyGroup">Groupe de l'entreprise: </label>
    <input type="text" name="CompanyGroup" id="CompanyGroup" placeholder="Nom du groupe"/><br>


    <label for="CompanyGroup">Logo de l'entreprise </label>
    <input type="file" name="logo" />

    <label for="CompanyDescription">Description de l'entreprise: </label>
    <textarea name="CompanyDescription" id="CompanyDescription" placeholder="Tapez ici la description de l'entreprise qui apparaitra dans la plaquette du forum et sur le catalogue en ligne."></textarea><br>

    <label for="CompanyWebsiteUrl">Site internet: </label>
    <input type="url" name="CompanyWebsiteUrl" id="CompanyWebsiteUrl" placeholder="URL vers le site de l'entreprise" required/><br>

    <label for="CompanyCareerUrl">Site de recrutement: </label>
    <input type="url" name="CompanyCareerUrl" id="CompanyCareerUrl" placeholder="URL vers le site de recrutement" required/><br>

    <label for="CompanyAddressRoad">N° et voie: </label>
    <input type="text" name="CompanyAddressRoad" id="CompanyAddressRoad" placeholder="Addresse" required/><br>

    <label for="complementaryInformation">Complément: </label>
    <input type="text" name="complementaryInformation" id="complementaryInformation" placeholder="Information complémentaire" required/><br>

    <label for="CompanyAddressCity">Ville: </label>
    <input type="text" name="CompanyAddressCity" id="CompanyAddressCity" placeholder="Ville" required/><br>

    <label for="CompanyAddressPostalCode">Code Postal: </label>
    <input type="text" name="CompanyPostCode" id="CompanyPostCode" placeholder="Code Postal" required/><br>

    <label for="CompanyAddressCountry">Pays: </label>
    <input type="text" name="CompanyAddressCountry" id="CompanyAddressCountry" placeholder="Pays" required/><br>

  <h2>Contact Forum</h2>
  <p>Ces informations doivent être remplies par la personne qui sera en charge du dossier. Elles seront utilisées par l'équipe du forum pour contacter l'entreprise.</p>

  <label for="UserFirstName">Prénom : </label>
  <input type="text" name="UserFirstName" id="UserFirstName" placeholder="Prénom" required/>
  <p style="color:red;display:none" id="UserFirstNameErr" >Ce champ doit être complété et contenir moins de 20 caractères</p><br>

  <label for="UserLastName">Nom : </label>
  <input type="text" name="UserLastName" id="UserLastName" placeholder="Nom" required/><br>

  <label for="Position">Fonction : </label>
  <input type="text" name="Position" id="Position" placeholder="Fonction" required/><br  >

  <label for="phoneNumber">Numéro de téléphone : </label>
  <input type="text" name="PhoneNumber" id="PhoneNumber" placeholder="Numéro de téléphone" required/><br>

  <label for="UserMail">Addresse e-mail : </label>
  <input type="email" name="UserEmail" id="UserEmail" placeholder="Email" required/><br>

  <label for="UserPassword">Mot de passe : </label>
  <input type="password" name="UserPassword" id="UserPassword" placeholder="Password" required/><br>

  <label for="ConfirmUserPassword">Confirmez le mot de passe : </label>
  <input type="password" name="ConfirmUserPassword" id="ConfirmUserPassword" placeholder="Confirm Password" required/><br>

<!--
  <h2>Contact Facturation</h2>

    <label for="BUserFirstName">Prénom : </label>
    <input type="text" name="BUserFirstName" id="BUserFirstName" placeholder="Prénom" required/>
    <p style="color:red;display:none" id="UserFirstNameErr" >Ce champ doit être complété et contenir moins de 20 caractères</p><br>

    <label for="BUserLastName">Nom : </label>
    <input type="text" name="BUserLastName" id="BUserLastName" placeholder="Nom" required/><br>

    <label for="BPosition">Fonction : </label>
    <input type="text" name="BPosition" id="BPosition" placeholder="Fonction" required/><br  >

    <label for="BPhoneNumber">Numéro de téléphone : </label>
    <input type="text" name="BPhoneNumber" id="BPhoneNumber" placeholder="Numérode téléphone" required/><br>

    <label for="BUserMail">Addresse e-mail : </label>
    <input type="email" name="BUserEmail" id="BUserEmail" placeholder="Email" required/><br>
-->
  <input type="submit"/>
</form>



<script type="text/javascript">
  <!--


  // Objets de saisie
  var UserFirstName = document.getElementById("UserFirstName");
  var UserLastName = document.getElementById("UserLastName");
  var UserPassword = document.getElementById("UserPassword");
  var ConfirmUserPassword = document.getElementById("ConfirmUserPassword");
  var UserEmail = document.getElementById("UserEmail");

  //Objets de notifications erreurs
  var UserFirstNameErr = document.getElementById("UserFirstNameErr");
  var UserLastNameErr = document.getElementById("UserLastNameErr");
  var UserPasswordErr = document.getElementById("UserPasswordErr");
  var ConfirmUserPasswordErr = document.getElementById("ConfirmUserPasswordErr");
  var UserEmailErr = document.getElementById("UserEmailErr");

  // Fonctions utilisées pour verifier les erreurs

  //Affiche erreur sur un champ
  // ErrObj corespond a l'objet qui contient le message d'erreur (dont le css sera modifié par JS pour qu'il soit affiché)
  function DispError(ErrObj){
    ErrObj.style="display:inline;";
  }

  // Supprime erreur sur un champ
  // ErrObj corespond a l'objet qui contient le message d'erreur (dont le css sera modifié par JS pour qu'il soit affiché)
  function CleanError(ErrObj){
    ErrObj.style="display:none;";
  }

  // Vérifie que les mots de passes Pass1 et Pass2 soient identiques
  function PassCheck(Pass1,Pass2){
    if(Pass1.value==Pass2.value)
      return foo();
  }

  //Vérifie que la taille de la chaine de carac soit ok:
  function StringLengthCheck(Str,Lmin,Lmax){
    if(Str.length>=Lmin && Str.length<=Lmax)
      return foo();
  }

  // Vérifie que l'entrée est bien un email
  function CheckEmail(mailteste)
  {
    var reg = new RegExp('^[a-z0-9]+([_|\.|-]{1}[a-z0-9]+)*@[a-z0-9]+([_|\.|-]{1}[a-z0-9]+)*[\.]{1}[a-z]{2,6}$', 'i');
    if(reg.test(mailteste))
      return(true);
    else
      return(false);
  }

  // Vérification instantanée de la bonne complétion du formulaire

  // Prénom
  UserFirstName.addEventListener("change",function(e){
    if(!StringLengthCheck(User.value,1,20)) DispError(UserFirstNameErr);
    else {
      e.target.style = "color:green";
      CleanError(UserFirstNameErr);
    }
  })

  // Nom
  UserLastName.addEventListener("change",function(e){
    if(!StringLengthCheck(e.target.value,1,20))
      DispError(UserLastNameErr);
    else {
      CleanError(UserLastNameErr);
      e.target.style = "color:green";
    }
  })

  //Email
  UserEmail.addEventListener("change",function(e){
    if (CheckEmail(e.target.value)){
      CleanError(UserEmailErr);
      e.target.style = "color:green";
    }
    else DispError("UserEmailErr");
  })


  // Mot de passe
  UserPassword.addEventListener('change',function(){
    if(PassCheck(UserPassword,ConfirmUserPassword)){
      UserPassword.style="background-color:green;";
      ConfirmUserPassword.style="background-color:green;";
    }
    else {
      UserPassword.style="background-color:red;";
      ConfirmUserPassword.style="background-color:red;";
    }
  })

  // Confirmation du mot de passe
  ConfirmUserPassword.addEventListener('change',function(){
    if(EqualPassCheck(UserPassword,ConfirmUserPassword)){
      UserPassword.style="background-color:green;";
      ConfirmUserPassword.style="background-color:green;";
    }
    else
    {
      UserPassword.style="background-color:red;";
      ConfirmUserPassword.style="background-color:red;";
    }
  })




  //-->
</script>
