<h1>Vos factures</h1>
<p>Vous trouverez ici vos factures pour chaque année où vous avez participé au forum.</p>

<% if (typeof bills == 'undefined' || bills == '') { %>

  <p>Vous n'avez actuellement pas de factures.</p>

<% } else { %>

  <table style="border-spacing: 10px; border-collapse: separate">
    <% bills.forEach( function(bill) { %>
      <tr>
        <td>
          <%=bill.year%>
        </td>
        <form id="downloadBill" method="post" action="/file/bills/download">
          <td>
            <input type="hidden" name="dl" value="<%= bill.year%>" />
          </td>
          <td>
            <input type="submit" value="Télécharger" />
          </td>
        </form>
      </tr>
    <% }); %>
  </table>
<% } %>
