<h1>Bon de commande</h1>
<p>Je suis la description des formules possibles</p>

<form method="post" action="/Command/NewCommand">
  <label for="forumCommand">Forum : <%=forumPrice%> </label><input id="forum" value="forum" type="radio" name="Command"/><br />
  <label for="sjdCommand">SJD : <%=sjdPrice%> </label><input id="sjd" value="sjd" type="radio" name="Command"/><br />
  <label for="premiumCommand">Forum + SJD : <%=premiumPrice%> </label><input id="premium" value="premium" type="radio" name="Command"/><br />
  <label for="sjdSessionCommand">Session SJD supplémentaire : <%=sjdSessionPrice%></label><input id="sjdSessionCommand" type="number" name="numberSjdSession"/><br />

  <label for="cgu">Je reconnais que je dois payer la somme de truc par cheque ou espece ou or si jamais je réserve ma place </label><input id="cgu" type="checkbox"/><br />

  <input type="submit" value="Réserver"/>

</form>
