<h1>Bienvenue !</h1>

<p>Avant de continuer à visiter notre site nous vous invitons à nous envoyer le logo de l'entreprise qe vous voulez que l'on utilise lorsque l'on présente votre entreprise</p>

Vous serez ensuite redirigé vers votre profil.

<p>Uniquement au format png pour l'instant.</p>
<form id="uploadLogo"
      enctype="multipart/form-data"
      action="/file/uploadLogo"
      method="post">
  <input type="file" name="logo" />
  <input type="submit" value="Envoyer"/>
</form>
