<h1>Inscriptions fermées</h1>
<p>La limite des places disponibles étant atteintes, les inscriptions pour le forum session 2016 sont maintenant fermées.</p>
<p>En espérant vous voir l'année prochaine !</p>
<p>L'équipe de forum</p>
