<h1>Réservation fermées</h1>
<p>La limite des places disponibles étant atteintes, les réservations pour le forum session <%=year%> sont maintenant fermées.</p>
<p>En espérant vous voir l'année prochaine !</p>
<p>L'équipe de forum</p>
