<div class="content">
<h1>Forum</h1>
<img src="images/Forum2.png" style="display: block; width: 100%; margin: auto;"/>
<h2>Un forum ouvert à toutes les spécialités !</h2>
<p>Le forum « INSA Entreprises » est un évènement regroupant les étudiants de l’INSA Toulouse et une centaine d’entreprises. Celles-ci exercent dans des domaines divers et variés permettant à chaque élève d’y trouver son compte. En effet, les différentes spécialités proposées par l’école regroupent plus de 2000 étudiants en recherche active de stage de tout type (ouvrier, technicien, ingénieur…), de projet de fin d’études voire d’emploi.</p>
<br/>
<h2>Une rencontre conviviale et constructive entre professionnels et étudiants</h2>
<p>Basé sur la communication entre professionnels et étudiants, cet évènement est une grande opportunité pour les entreprises présentes de promouvoir leur image de marque auprès de futurs ingénieurs. En effet, il est pour elles un excellent moyen de communication permettant de mettre en avant leur savoir-faire et leur vision de la profession au sein d’une communauté d’étudiants.
<br/><br/>
La rencontre avec des élèves de différentes années et de différentes spécialités est une occasion unique pour les sociétés de découvrir des profils intéressants et ainsi, d’envisager d’éventuels recrutements.
<br/><br/>
Dynamique et constructif, le forum permet aux étudiants d’établir un contact avec le monde professionnel. Il permet alors à ces derniers de se mesurer aux exigences des entreprises mais également de développer des qualités humaines telles que le sens du contact et la communication.
<br/><br/>
Ainsi, le Forum « INSA Entreprises » permet à ces deux entités de partager un moment de convivialité, favorable aux échanges et aux discussions.</p>
<br/><br/>
<img src="images/Forum31.png" style="margin: auto; width: 100%; display: block;"/>

</div>
