<p>Bonjour je suis l'espace étudiant.</p>

<ul>
  <li><a href="/Student/Profile">Mon profil</a></li>
  <li><a href="/Student/Companies">Les entreprises</a></li>
  <li><a href="/Student/SJD">Speed Job Dating</a></li>
</ul>
