<div class="content">

    <h1>Espace perso</h1>
    <p>Vous pouvez accéder au rubriques suivantes:</p>

    <ul>
      <li><a href="/Student/Profile">Mon profil</a></li>
      <li><a href="/Student/Companies">Les entreprises</a></li>
      <li><a href="/Student/SJD">Speed Job Dating</a></li>
    </ul>

</div>
