<h1>Réinitialiser le mot de passe</h1>
<p>Veuiller entrer votre email:</p>

<form method='post' action="/Company/ResetPass">
  <input type='email' placeholder="Email du compte" Name="UserAuthEmail" required/>
  <input type="submit"/>
</form>
