<h1>Réinitialiser le mot de passe</h1>
<p>Veuiller entrer votre email :</p>

<form method='post' action="/Company/ResetPass">
  <input type='email' class="pure-input-1-3" placeholder="Email du compte" Name="UserAuthEmail" required/>
  <p></p>
  <input type="submit" class="btn red-button" value="Réinitialiser mon mot de passe">
</form>
