<style>


    .slider {
        width: 95vw;
        height: 36.8367vw;
        max-width: 980px;
        max-height: 380px;
        margin: auto;
        display: block;
        position: relative;
    }

    .slider-content {
        white-space: nowrap;
        position: absolute;
    }

    .slider-window {
        overflow: hidden;
        width: 95vw;
        height: 36.8367vw;
        max-width: 980px;
        max-height: 380px;
        position: relative;
    }

    .slider li {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        border: 2px solid grey;
        background-color: white;
        display: inline-block;
        cursor: pointer;
        font-size: 0;
    }

    .slider ul {
        padding: 0px;
    }

    .slider nav {
        margin: auto;
        text-align: center;
    }

    .position-1 {
        left: 0px;
        transition: left 2s;
    }

    .position-2 {
        left: -980px;
        transition: left 2s;
    }

    .position-3 {
        left: -1960px;
        transition: left 2s;
    }

    #buttons {
        position: absolute;
        margin: auto;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    .slider-content img {
        background-color: blue;
        width: 95vw;
        height: 36.8367vw;
        max-width: 980px;
        max-height: 380px;
    }


</style>


<div class="content">
    <h1>Accueil</h1>

    <div class="slider">
        <div class="slider-window">
            <div class="slider-content position-1">
                <img id="img1" src="images/slide2.png" class="img"/>
                <img id="img2" src="images/slide1.png" class="img"/>
            </div>
        </div>
        <nav id="buttons">
            <ul>
                <li id="bt1" class="bt" style="background-color: grey">img1</li>
                <li id="bt2" class="bt">img2</li>
            </ul>
        </nav>
    </div>
    <br/>
    <!--
    <% if(!inscriptionOpen) { %>
    <div class="well-danger">
        <p>
            Les inscriptions des entreprises au Forum INSA Entreprises 2017 sont closes
        </p>
    </div>
    <% } %>
    -->

    <p>Retrouvez-nous le <b>Mardi 23 Octobre 2018</b> sur le campus de l’INSA Toulouse pour cette première édition du Forum by INSA, anciennement Forum INSA Entreprises. Cet évènement est un moment d’échanges fructueux entre étudiants et recruteurs. Organisé et animé par les étudiants de l’INSA, ce forum favorise l’insertion des futurs ingénieurs dans la sphère professionnelle.</p>

    <h3>Au programme de cette journée :</h3>

    <ul>
        <li>Un forum réunissant plus de 45 entreprises représentant l’intégralité du panel d’activités existant à l’INSA</li>
        <li>Des sessions de Speed Job Dating permettant aux étudiants et professionnels d’échanger pendant 10 minutes</li>
        <li>Un repas convivial réunissant les enseignants ainsi que les professionnels présents sur le forum</li>
    </ul>

    <h3>Sur ce site, vous trouverez :</h3>

    <ul>
        <li>Les descriptions détaillées du Forum et ses nouveautés</li>
        <li>Des informations détaillées sur l'INSA Toulouse</li>
        <li>Un Espace CVthèque permettant aux professionnels de consulter les CV des étudiants</li>
        <li>Un Espace Etudiants permettant aux élèves ingénieurs de s’inscrire aux différentes activités et de déposer leur CV dans la CVthèque</li>
    </ul>

</div>

<script>
    var prev = 1;
    var slider_width = $(".slider").width();
    var slider_height = (slider_width / 2.5789);
    var position = 0;
    var delta = slider_width;
    var btNb = 1;

    var myTimer = setInterval(autoplay, 8000);

    $('.bt').click(function () {
        // Create image id
        var img = "#" + $(this).text();

        // Extract the clicked button number
        btNb = $(this).attr("id").substring(2, 3);

        // Change button color
        $('.bt').css('background-color', 'white');
        $(this).css('background-color', 'grey');

        move(btNb);
        clearInterval(myTimer);
        myTimer = setInterval(autoplay, 8000);
    });

    function move(btNb) {
        // Change position
        $('.slider-content').css("left", -((btNb - 1) * slider_width) - 2 * (btNb));
        $('.bt').css('background-color', 'white');
        $("#bt" + btNb).css('background-color', 'grey');
        prev = position;
    }

    $(window).resize(function () {
        slider_width = $(".slider").width();
        move(btNb);
    });

    function autoplay() {
        prev = prev % 3 + 1;
        move(prev);
    }


</script>
