<div class="content">

    <h1>Contacts</h1>
    <table class="pure-table">
        <tr>
            <td>
                Présidente de l’organisation
            </td>
            <td>
                Anne-Charlotte FOURNET–SOULA<br/>06 37 86 08 02
            </td>
        </tr>
        <tr>
            <td>
                Responsable Forum
            </td>
            <td>
                Joseph PEILHO<br/>06 11 27 62 30
            </td>
        </tr>
        <tr>
            <td>
                Responsable Speed Job Dating
            </td>
            <td>
                Camille LEMOUZY<br/>06 22 98 70 02
            </td>
        </tr>
        <tr>
            <td>
                Responsables Communication
            </td>
            <td>
                Manon DESLOUS<br/>
                06 22 98 70 02<br/><br/>
                Jean-Baptiste TEYSSEDOU<br/>
                07 87 94 86 95
            </td>
        </tr>
        <tr>
            <td>
                Tresoriers
            </td>
            <td>
                Manon DESLOUS<br/>
                06 22 98 70 02<br/><br/>
                Jean-Baptiste TEYSSEDOU<br/>
                07 87 94 86 95
            </td>
        </tr>
        <tr>
            <td>
                Responsables site web
            </td>
            <td>
                Pierre NOËL<br/>
                06 22 98 70 02<br/><br/>
                Henri CAZOTTES<br/>
                07 87 94 86 95<br/><br/>
                Pierre <br/>
                07 87 94 86 95
            </td>
        </tr>
</table>

</div>
