<div class="content">

    <h1>Contacts</h1>
    <table class="pure-table pure-table-horizontal" style="margin: auto; width: 100%;">
        <tr>
            <td>
                Présidente de l’Organisation
            </td>
            <td>
                DISCOURS Carine<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Vice Président de l'Organisation
            </td>
            <td>
                ROBIN Alexis - Responsable démarchage<br/>
                MEYER Amélie - Responsable nouveautés<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Speed Job Dating
            </td>
            <td>
                DE SMET Cécile<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Trésorière
            </td>
            <td>
                VAN NIEUWENHUYZE Lucie<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Communication
            </td>
            <td>
                MORE Manon<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Logistique
            </td>
            <td>
                HERNANDEZ Lucie<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Conférences
            </td>
            <td>
                CANDAMIL Maria<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Ateliers
            </td>
            <td>
                ARENE Laura<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Site Web
            </td>
            <td>
                TAILLARDAT Elie<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
</table>

</div>
