<div class="content">

    <h1>Contacts</h1>
    <table class="pure-table pure-table-horizontal" style="margin: auto; width: 100%;">
        <tr>
            <td>
                Président de l’organisation
            </td>
            <td>
                QUENTIN Balssa<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Vice Président de l’organisation
            </td>
            <td>
                VINCHON Samuel<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Speed Job Dating
            </td>
            <td>
                BESSE Ophélie<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Trésorier
            </td>
            <td>
                FAYARD Baptiste<br/>
                TAMINO Amandine<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsables Communication
            </td>
            <td>
                PASTOR Hugo<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsables site web
            </td>
            <td>
                NGUYEN Duc Hau<br/>
                NOEL Pierre<br/>
                <a href="mailto:contact@foruminsaentreprises.fr"> contact </a>
            </td>
        </tr>
</table>

</div>
