<div class="content">

    <h1>Contacts</h1>
    <table class="pure-table pure-table-horizontal" style="margin: auto; width: 100%;">
        <tr>
            <td>
                Président de l’Organisation
            </td>
            <td>
                Carrel Nirina<br/>
                <a href="mailto:nirina@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Vice-Présidents de l'Organisation
            </td>
            <td>
                Sébastien Quetin - Responsable démarchage<br/>
                <a href="mailto:podio@etud.insa-toulouse.fr"> contact </a><br/>
                Guillaume Podio - Responsable activités<br/>
                <a href="mailto:quetin@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Speed Job Dating
            </td>
            <td>
                Marcus Zou<br/>
                <a href="mailto:zou@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Trésorier
            </td>
            <td>
                Jacques Cinotti<br/>
                <a href="mailto:cinotti@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Communication
            </td>
            <td>
                Arthur Jourdain<br/>
                <a href="mailto:jourdai@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Logistique
            </td>
            <td>
                Joevin Testi<br/>
                <a href="mailto:testi@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Conférences
            </td>
            <td>
                Avotra Andrianorosoa<br/>
                <a href="mailto:aandrian@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Ateliers
            </td>
            <td>
                Margaux Pellenc<br/>
                <a href="mailto:pellenc@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Site Web
            </td>
            <td>
                Noël Taillardat<br/>
                <a href="mailto:ntaillar@etud.insa-toulouse.fr"> contact </a>
            </td>
        </tr>
</table>

</div>
