<div class="content">

    <h1>Contacts</h1>
    <table class="pure-table pure-table-horizontal" style="margin: auto; width: 100%;">
        <tr>
            <td>
                Président de l’organisation
            </td>
            <td>
                <b>Gilles MAIGNIAL</b><br/>
                maignial@etud.insa-toulouse.fr<br/>
                06 35 94 23 03
            </td>
        </tr>
        <tr>
            <td>
                Vice Président de l’organisation
            </td>
            <td>
                <b>Paul VIROLE</b><br/>
                virole@etud.insa-toulouse.fr<br/>
            </td>
        </tr>
        <tr>
            <td>
                Responsable Speed Job Dating
            </td>
            <td>
                <b>Sylouan PASCARD</b><br/>
                pascard@etud.insa-toulouse.fr<br/>
                06 38 69 93 21
            </td>
        </tr>
        <tr>
          <td>
            Tresorière
          </td>
          <td>
            <b>Marie JANICOT</b><br/>
            janicot@etud.insa-toulouse.fr<br/>
            06 44 25 56 60
          </td>
        </tr>
        <tr>
            <td>
                Responsables Communication
            </td>
            <td>
                <b>Rafaelle AYGALENQ</b><br/>
                aygalenq@etud.insa-toulouse.fr<br/><br/>
                <b>Simon BUORO</b><br/>
                buoro@etud.insa-toulouse.fr
            </td>
        </tr>
        <tr>
            <td>
                Responsables site web
            </td>
            <td>
                <b>Pierre NOËL</b><br/>
                pnoel@etud.insa-toulouse.fr<br/><br/>
                <b>Henri CAZOTTES</b><br/>
                cazottes@etud.insa-toulouse.fr<br/><br/>
                <b>Pierre HARDY</b><br/>
                phardy@etud.insa-toulouse.fr
            </td>
        </tr>
</table>

</div>
