<h1>Inscription réussie</h1>
<p>Merci <%=firstName%>, vous êtes bien inscrit pour le forum du 18 octobre 2016.</p>
<p>Si vous ne l'avez pas fait, n'hésitez pas à vous connecter sur le site pour y mettre votre CV et favoriser votre recrutement !</p>
