<div class="content">
    <h1>Ateliers</h1>
    <p>
        <b>Nouveauté 2018 qui revient cette année : les ateliers ! </b> Ouverts à tous les étudiants et au personnel de l’INSA, les ateliers offrent une aide pour mieux réussir et s’épanouir dans le milieu de l’entreprise. 
    </p> 
    <br/>
        <img class="bw" src="/images/atelier.jpg" style="width: 100%"/>
    <br/>
    <br/>
    <p>
        Ils sont proposés en partenariat avec ​l’<b>IAT</b> (INSA Alumni Toulouse), le ​<b>PPI</b> (Parcours Professionnel Individualisé) et la ​<b>JIS</b> (Junior INSA Services), une association bénévole qui a été fondée en 1967 et qui permet de faire un lien entre tous les étudiants INSA, 
        toutes promotions confondues et de les aider et les conseiller sur le plan professionnel. 
        <br>Chaque atelier sera encadré pour apprendre par exemple à réaliser un CV, une lettre de motivation, convaincre en entretien ou encore gérer son stress.
    </p>
    
    <h3>Organisation</h3>
    <p>
        Ces ateliers se dérouleront dans les salles IDEFI du STPI qui conviennent parfaitement à ce type de formation car elles sont modulables. 
    </p>
    <p>
        Les thèmes des ateliers ​de l’édition 2018 du Forum ​<i>by</i>​ INSA étaient les suivants :
    </p>
    <ul>
        <li><b>9h-10h</b> - Atelier by IAT - “Les entretiens de recrutement” (salle STPI 106) </li>
        <li><b>10h-11h20</b> - Atelier by JIS - "Les clés de la prise de parole en public" (salle STPI 107)</li>
        <li><b>10h-11h</b> - Atelier by IAT - “La lettre de motivation” (salle STPI 106) </li>
        <li><b>11h-12h</b> - Atelier by IAT - “Le CV” (salle STPI 106)</li>
        <li><b>14h-15h</b> - Atelier by JIS - "S’inspirer de ses valeurs pour entreprendre" (salle STPI 107)</li>
        <li><b>15h30-17h</b> - Atelier by JIS - “Entrepreneuriat : les étapes pour bien se lancer” (salle STPI 107)</li>
        <li><b>10h-13h, 14h-17h</b> (par créneaux de 20 minutes) - Ateliers by PPI - “Social Jobbing : Faire de votre profil LinkedIn une arme pour être recruté” (salle STPI 105)</li>    
    </ul>
    <p>
        Et en complément :
    </p>
    <ul>
        <li><b>Jeudi 11 octobre de 14h à 17h30</b> - Atelier by IAT - “Relecture de CV” (salle STPI 10)</li>
        <li><b>Jeudi 18 octobre de 12h à 14h</b> - Atelier by IAT - “Préparation au SJD” (salle STPI 106)</li>
        <li><b>Jeudi 18 octobre de 14h à 17h30</b> - Atelier by IAT - “Relecture de CV” (salle STPI 10)</li>
        <li><b>Vendredi 19 octobre de 12h à 14h</b> - Atelier by IAT - “Préparation au SJD” (salle STPI 106)</li>
    </ul>

</div>
