<div class="content">
    <h1>Ateliers</h1>
    <p>
        <b>Nouveauté cette année : les ateliers ! </b> Ouverts à tous les étudiants et au personnel de l’INSA, les ateliers offrent une aide pour mieux réussir et s’épanouir dans le milieu de l’entreprise. 
    </p> 
    <br/>
        <img class="bw" src="/images/atelier.jpg" style="width: 100%"/>
    <br/>
    <br/>
    <p>
        Ils sont proposés en partenariat avec <b>l’IAT</b> (INSA Alumni Toulouse) et la <b>JIS</b> (Junior INSA Services), une association bénévole qui a été fondée en 1967 et qui permet de faire un lien entre tous les étudiants INSA, toutes promotions confondues et de les aider et les conseiller sur le plan professionnel. Chaque groupe, composé de 5 à 8 personnes, sera encadré pour apprendre par exemple à réaliser un CV, une lettre de motivation, convaincre en entretien ou encore gérer son stress. 
    </p>
    
    <h3>Organisation</h3>
    <p>
        Ces ateliers se dérouleront dans les salles IDEFI du STPI qui conviennent parfaitement à ce type de formation car elles sont modulable. Ils seront au nombre de 10 environ, répartis sur toute la journée. Ils permettront à près de 75 étudiants de se former sur des thématiques variées.
    </p>

</div>
