<div class="content">
    <h1>Speed Job Dating</h1>
    <p>Le format du Speed Job Dating se renouvelle pour l’édition 2019 : plus <b>dynamique</b> et plus <b>convivial</b> !</p>
    <p>Les speed job dating se dérouleront dans la salle des thèses, salle spacieuse et lumineuse avec en son centre un espace détente où recruteurs et étudiants pourront se rencontrer autour d’une collation.</p>
    
    <p><b>Tous les étudiants</b> de la première à la cinquième année sont les bienvenus même si l’enjeu est plus important à partir de la quatrième année. Cette méthode de recrutement présente autant d’avantages pour les entreprises que pour les étudiants.</p>
    
    <p>Recruteurs, vous rencontrez des futurs ingénieurs au profil ciblé tout en dynamisant l’image de votre entreprise. Étudiants, vous présentez votre projet professionnel au cours de plusieurs entrevues, vous avez alors la possibilité d’élargir rapidement votre réseau.<br>
    </p>
    <br/>
    <img class="bw" src="images/Speedjob.jpg" style="margin: auto; width: 100%; display: block;"/>

    <h2>Organisation</h2>
    <p>Les speed job dating se dérouleront entre 12h et 14h10 ; chaque entretien durera <b>10 min</b>.</p>
    <p>
        Recruteurs, vous aurez donc la possibilité de rencontrer 10 étudiants en speed job dating et de profiter pendant 3 fois 10 minutes de l’espace détente afin d’avoir un deuxième contact avec les profils qui vous intéressent.
    </p>

    <h3>Exemple du déroulement de la session pour un recruteur :</h3>
    
    <ul>
        <li>12h-12h30 : 3 entretiens</li>
        <li>12h30 : pause</li>
        <li>12h40-13h00 : 2 entretiens</li>
        <li>13h00 : pause</li>
        <li>13h10-13h40 : 3 entretiens</li>
        <li>13h40 : pause</li>
        <li>13h50 : 2 entretiens</li>
    </ul>

</div>
