<div class="content">
    <h1>Speed Job Dating</h1>
    <p>Le format du Speed Job Dating se renouvelle pour l’édition 2019 : plus <b>dynamique</b> et plus <b>convivial</b> !</p>
    <p>Les speed job dating se dérouleront dans la salle des thèses, salle spacieuse et lumineuse avec en son centre un espace détente où recruteurs et étudiants pourront se rencontrer autour d’une collation.</p>
    
    <p><b>Tous les étudiants</b> de la première à la cinquième année sont les bienvenus même si l’enjeu est plus important à partir de la quatrième année. Cette méthode de recrutement présente autant d’avantages pour les entreprises que pour les étudiants.<br/></p>
    
    <img class="bw" src="images/Speedjob.jpg" style="margin: auto; width: 100%; display: block;"/>
    <br />
    <p>Recruteurs, vous rencontrez des futurs ingénieurs au profil ciblé tout en dynamisant l’image de votre entreprise. Étudiants, vous présentez votre projet professionnel au cours de plusieurs entrevues, vous avez alors la possibilité d’élargir rapidement votre réseau.</p>

    <br />
    <div class="section">
        <h2>Organisation</h2>
        <p>Les Speed Job Dating se dérouleront de 12h à 14h, en salle des thèses de l’INSA. Les recruteurs pourront rencontrer jusqu'à dix étudiants, sur des créneaux d'entretien de <b>10 min</b> chacun. Une pause de 10 min est prévue toutes les 30 min pour les recruteurs. </p>
        <p>
            Les recruteurs auront à ces occasions la possibilité de profiter de l’espace détente afin d’avoir un deuxième contact avec les profils qui les ayant intéressés.
        </p>
        <br />
        <h4>Exemple du déroulement de la session pour un recruteur</h4>
        
        <table class="table table-hover">
            <tr>
                <th>12h-12h30</th>
                <td><i class="fa fa-clock-o"></i></td>
                <td>3 entretiens</td>
            </tr>
            <tr>
                <th>12h30</th>
                <td><i class="fa fa-coffee"></i></td>
                <td>Pause</td>
            </tr>
            <tr>
                <th>12h40-13h00</th>
                <td><i class="fa fa-clock-o"></i></td>
                <td>2 entretiens</td>
            </tr>
            <tr>
                <th>13h00</th>
                <td><i class="fa fa-comments"></i></td>
                <td>Pause</td>
            </tr>
            <tr>
                <th>13h10-13h40</th>
                <td><i class="fa fa-clock-o"></i></td>
                <td>3 entretiens</td>
            </tr>
            <tr>
                <th>13h40</th>
                <td><i class="fa fa-coffee"></i></td>
                <td>Pause</td>
            </tr>
            <tr>
                <th>13h50</th>
                <td><i class="fa fa-clock-o"></i></td>
                <td>3 entretiens&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </table>
    </div>
</div>
