<div class="content">
    <h1>Speed Job Dating</h1>
    <p>
        Dans le but d’améliorer cette journée de rencontres et d’échanges, le Forum INSA Entreprises vous propose de nouveau cette année l’évènement Speed Job Dating. Cette nouvelle méthode de recrutement présente autant d’avantages pour les entreprises que pour les étudiants.<br/>
    Recruteurs, vous rencontrez des futurs ingénieurs au profil ciblé tout en dynamisant l’image de votre entreprise.
    Étudiants, vous présentez votre projet professionnel au cours de plusieurs entrevues, vous avez alors la possibilité d’élargir rapidement votre réseau.
    </p>
    <br/>
    <img src="images/Speedjob.jpg" style="margin: auto; width: 100%; display: block;"/>

    <h2>Principe</h2>
    <p>
        La journée de Speed Job Dating se compose de quatre sessions d’une heure chacune. Chaque session comporte entre 7 et 8 entretiens de <b>7 minutes</b> pendant lesquels un recruteur échange avec un étudiant. Au bout de ces 7 minutes, un roulement est effectué afin que les élèves aient l’opportunité de rencontrer tous les recruteurs de la session.
    </p>

    <h2>Programme</h2>

    <ul>
        <li>09h30 – 10h30 : Session n°1</li>
        <li>10h30 – 11h00 : Pause collation et échange avec les étudiants</li>
        <li>11h00 – 12h00 : Session n°2</li>
        <li>12h30 – 14h00 : Repas</li>
        <li>14h00 – 15h00 : Session n°3</li>
        <li>15h00 – 15h30 : Pause collation et échange avec les étudiants</li>
        <li>15h30 – 16h30 : Session n°4</li>
    </ul>

    <h2>Pendant l'entretien</h2>
    <p>Le candidat se présente, donne un aperçu de sa personnalité et de son projet professionnel. L’échange est réciproque entre le candidat et le recruteur.
    </p>

    <h2>Fin de l'entretien</h2>
    <p>
        Le recruteur, s’il est intéressé, annote le mini-CV et échangera avec le candidat pendant la pause à la fin de la session.
    </p>

</div>
