<section class="content-header">
    <h1><i class="fa fa-edit"></i> Inscriptions Ateliers</h1>
    <ol class="breadcrumb">
        <li><a href="<%= sails.getUrlFor('AdminController.home') %>"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Liste des ateliers</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste des ateliers</h3>
                </div>
                <div class="box-body">
                    <%- partial('templateDatatable/WorkshopInscriptions.ejs') %>
                </div>
            </div>
        </div>
    </div>
</section>

<link href="/dependencies/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>

<script src="/dependencies/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script>
$(document).ready(function() {
    var datatable = $('#datatable').DataTable( {
        responsive: true,
        ajax: {
            'url': "<%= sails.getUrlFor('AdminController.apiGetAllWorkshopInscriptions') %>",
            'dataSrc': ''
        },
        columns: [
            { 'data': "lastName" },
            { 'data': "firstName" },
            { 'data': "workshops" ,
                'render': function(data, type, full, meta) {
                    var r = '<ul>';
                    data.forEach(element => {
                        r = r + '<li>' + element + '</li>';
                    });
                    return r + '</ul>';
                }
            },
            { 'data': "year" },
            { 'data': "speciality" }, 
            { 'data': "mail" }
        ]
    } );
} );
</script>
