<!-- Morris chart -->
<link rel="stylesheet" href="/dependencies/morris.js/morris.css">
<!-- jvectormap -->
<link rel="stylesheet" href="/dependencies/jvectormap/jquery-jvectormap.css">
<!-- Date Picker -->
<link rel="stylesheet" href="/dependencies/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="/dependencies/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1><i class="fa fa-dashboard"></i>
    Accueil
    <small>Bienvenue, administrateurs du FBI (Forum by INSA)</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <section class="col-lg-12 connectedStortable">
      <!-- TO DO List -->
      <div class="box box-primary">
        <div class="box-header">

          <i class="fa fa-tasks"></i>
          <h3 class="box-title">Instructions</h3>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <ul class="todo-list">
            <li>
              <h4 class="text">
                <i class="fa fa-pencil"></i>&nbsp;&nbsp;Inscrire ou réinscrire les entreprises
                <br />
                <small style="padding-left: 22px;"><i class="fa fa-external-link-alt"></i>Onglet Entreprises inscrites </small>
                <span class="label label-danger"><i class="fa fa-user-circle"></i>&nbsp;&nbsp;Com' démarchage</span>

              </h4>
              <div style="margin-left: 28px">
                <b>Inscription</b> : bouton&nbsp;&nbsp;<button class="btn"><i
                    class="fa fa-plus"></i>&nbsp;&nbsp;Créer une nouvelle</button>
                <br /><b>Ré-inscription</b> (déjà participante par le passé) : chercher l'entreprise dans la liste,
                puis bouton <button class="btn"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Renouveller</button>
              </div>
              <br />
              <i class="fa fa-warning"></i>
              <h4 class="text">&nbsp;&nbsp;A l'instant ou le formulaire est validé</h4>
              <div style="margin-left: 28px;">
                - L'entreprise devient "<b>active</b>" (elle peut se connecter à son espace perso, son nom est
                visible dans la liste d'entreprises participantes au forum)
                <br />- Une <b>facture est générée</b> (dans la base de données + un fichier pdf)
                <br />- Un <b>e-mail est automatiquement envoyé à l'entreprise</b>, lui expliquant la démarche à suivre
                pour se connecter, la facture et le RIB de l'Amicale en pièces jointes
              </div>
            </li>
            <li>
              <h4 class="text">
                <i class="fa fa-pencil"></i>
                &nbsp;Gérer les SJD
                <br />
                <small style="padding-left: 22px;"><i class="fa fa-external-link-alt"></i>Onglet Inscriptions SJD </small>
                <span class="label label-warning"><i class="fa fa-user-circle"></i>&nbsp;&nbsp;Com' SJD</span> 
              </h4>
              <div style="margin-left: 28px">
                Coming soon
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.box -->
    </section>
  </div>

</section>
<!-- /.content -->

<!-- Morris.js charts -->
<script src="/dependencies/raphael/raphael.min.js"></script>
<script src="/dependencies/morris.js/morris.min.js"></script>
<!-- Sparkline -->
<script src="dependencies/jquery-sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="dependencies/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="/dependencies/bootstrap-daterangepicker/moment.min.js"></script>
<script src="/dependencies/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="/dependencies/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="/dependencies/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/dependencies/fastclick/fastclick.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/js/adminLTE/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/adminLTE/demo.js"></script>