<div class="content">
    <h1>INSA Toulouse</h1>
    <img class="" src="/images/insa.jpg" style="width: 100%"/>
    <br/>
    <br/>
    <p>
        Avec près de 14 000 ingénieurs, présents dans tous les secteurs de l’économie, l’Institut National des Sciences Appliquées de Toulouse, école d’ingénieur publique, pluridisciplinaire et internationale, est reconnue pour l’excellence de sa formation en cinq ans après le bac, qui attire des élèves de haut niveau. Créé en 1963, l’INSA Toulouse fait partie du réseau des INSA composé de six écoles situées à Lyon, Rennes, Rouen, Toulouse, Strasbourg et Centre Val de Loire.
    </p>
    <p>
        Présente dans le top du classement des écoles d’ingénieurs Post-Bac selon letudiant.fr depuis de nombreuses années, l’INSA forme des ingénieurs formés au travail en équipe et sachant appliquer leur savoir théorique au monde professionnel.
    </p>
    <p>
        L’école offre 8 spécialités afin que chacun puisse trouver sa voie* :
    </p>
    <br/>
    <table class="table pure-table-striped">
        <tr>
            <td><a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/gba.html">Génie Biologique</a></td>
            <td><a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/gpi.html">Génie des Procédés et Environnement</a></td>
            <td><a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/gcu.html">Génie Civil</a></td>
            <td><a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/gmeca.html">Génie Mécanique</a></td>
        </tr>
        <tr>
            <td><a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/aei.html">Automatique, Électronique</a></td>
            <td><a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/gp.html">Génie Physique</a></td>
            <td><a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/rt.html">Informatique et Réseaux</a></td>
            <td><a href="http://www.insa-toulouse.fr/fr/formation/ingenieur/specialites/gm.html">Mathématiques Appliquées</a></td>
        </tr>
    </table>
    <br/>
    <p><i>*pour plus d’information sur une spécialité, cliquez dessus.</i></p>
    <br/>
    <p>
        De par sa volonté de former des ingénieurs en accord avec les attentes du monde du travail, l’INSA Toulouse se base sur quatre lignes directrices :
    </p>
    <br/>
    <h3>Une ouverture à l’international</h3>
    <p>
        L’école promeut de nombreux programmes d’échange en accueillant des étudiants étrangers (20% dans chaque promotion) et en incluant dans le cursus de chaque étudiant douze semaines au minimum dans un pays étranger. L’INSA a fait de l’enseignement des langues une de ses priorités : dans cette perspective, elle demande à ses futurs ingénieurs un certain niveau d’anglais attesté par un score de 785 au TOEIC.
    </p>
    <br/>
    <h3>Un enseignement adossé à une recherche de haut niveau</h3>
    <p>
        L’INSA Toulouse propose une palette de 8 spécialités, de l’Informatique au Génie Civil, en passant par le Génie Mathématique ou le Génie Biochimique. Son enseignement, en lien avec les avancées scientifiques les plus récentes, s’appuie fortement sur l’activité de laboratoires de recherche de premier plan, soutenus par de grands groupes industriels, dans le domaine des nouveaux matériaux pour l’aéronautique par exemple, des technologies de préservation de l’environnement ou des nano-objets.
    </p>
    <br/>
    <h3>Une pédagogie innovante pour des apprentissages durables</h3>
    <p>
        Tout au long de leur scolarité, les étudiants sont confrontés à des projets et problèmes concrets, complexes, qu’ils doivent mener à bien en équipe, soutenus à la demande par leurs enseignants. Pas de question, pas de cours… tel est le principe de cette pédagogie active, expérimentée par des établissements de renom en Amérique comme en Europe du Nord, et désormais prônée par l’UNESCO.
    </p>
    <br/>
    <h3>Des ingénieurs ouverts sur le monde</h3>
    <p>
        L’international a constitué dès sa création une priorité pour l’école qui a mis en place progressivement des filières internationales. Sur le campus, un étudiant sur cinq est étranger.
        <br/>
        Les promotions accueillent des élèves aux profils diversifiés : bacheliers technologiques, ingénieurs en apprentissage et en formation continue. L’ouverture au monde, c’est également l’engagement citoyen des étudiants, fortement soutenu et valorisé au sein de la scolarité.
    </p>
    <br/>
    <p>Pour plus d'informations, vous pouvez trouver le site de l'INSA Toulouse <a href="http://www.insa-toulouse.fr/fr/index.html">ici</a>.</p>

</div>
